@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
}
.main{
    /* height: 600px; */
    height: fit-content;
    background: url("Untitled\ design.png") center center/cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.maincontent{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    /* display: flex; */
} 
iframe{
    margin: 1%;
    width: 500px;
    height: 250px;
        
}
.content{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: #d7b211;
}
.subcontent{
    font-size: 20px;
    color: #fff;
}
.navbar {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    overflow: hidden;
    right: 0px;
    height: 80px;
}
.logo{
    width: 30%;
}
.logo img{
    margin-left: 10%;
    width: 240px;
    height: 80px;
}

.navbar .menu-icon {
    
    font-size: 24px;
    color: #c91717;
    cursor: pointer;
    display: none;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: #fafafa;
    text-align: center;
    margin: 20px 16px;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.nav-list li a:hover {
    color: #a21313;
    backdrop-filter: blur(1);
    scale: 1.1;

}
.publish{
    background-color: #9a6e6e;
    color: #fff;
    font-size: 17px;
    border: none;
    font-family: sans-serif;
    font-weight: 600;
    position: fixed;
    width: 7%;
    right: 18px;
    bottom: 40px;
height: 6%;
border-radius: 40px;

}

.container {
    position: fixed;
    right: 80px;
    bottom: 80px;
	width: 130px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
    color: #088ac1;
	font-weight: 600px;
	z-index: 1;
	transition: 0.9s;
    font-size: 20px;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
    color: #fff;

}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
   
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chnage 1*/
.container .btn:nth-child(1)::after {
	background: #0e9ddb;
	box-shadow: 0 0 5px #0d7091, 0 0 15px #0b6866, 0 0 30px #12637e,
		0 0 60px #1986a4;
}



@media (max-width: 768px) {
    .navbar .menu-icon {
        display: block;
    }

    .nav-list {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-list.show {
        display: block;
    }
}


.second{
    height: 400px;
    /* display: flex; */
}
.part1{
    width: 100%;
    /* display: flex; */
}

.topic{
    color: #088ac1;
}

.trending{
    border-left: 1px solid black;
    padding-left: 50px;
    margin: 50px;
}
.topiclinks{
    
}
.topic{
    font-size: 30px;
}
.topiclinks a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    color: #088ac1;
    margin-top: 10px;
    font-size: 20px;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-top: 17px;
    cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.search-container {
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 30px;
}

/* Style the search input field */
.search-container input[type=text] {
    padding: 10px;
    margin-top: 8px;
    font-size: 15px;
    width: 300px;
    border: none;
    border-radius: 40px;
}

/* Style the search button/icon */
.search-container button {
    float: right;
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #088ac1;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* Change the search button/icon on hover */
.search-container button:hover {
    background: #ccc;
}



.container {
    text-align: center;
    margin-top: 50px;
  }
  .containermain{
    /* background-color: #a21313; */
    width: 100%;
    margin-left: 2%;
    margin-top: -0.7%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .allbutton{
    display: flex;
  }
  .page-btn {
    /* padding: 1px 20px; */
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #content {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
background-color: #0d7091; 
}
  
  #popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  #popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  iframe {
    width: 100%;
    height: 400px;
  }
  


  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }
  .part1{
    display: flex;

  }
  .allbutton{
    display: inline;
width: 20%;  
}
  .page-btn{
    width: 100%;
    margin: 4%;
    height: 40px;
    color: #d7b211;
    border-radius: 0%;
    border: none;
   font-size: 21px;
text-transform: uppercase;
}
.containermain{
    width: 80%;
    right: 0%;
}
